<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>

<%# console.log(jsonData) %>
<main class="p-home l-home">
  <div class="p-mv l-home__mv">
    <div class="p-mv-menu u-hidden-xl-down">
      <h1 class="p-mv-menu__logo">
        <a href="/" class="p-mv-menu__logo-link">
          <svg class="c-svg p-mv-menu__logo-icon" width="163" height="85">
            Open Cafe - dish & coffee -
            <use xlink:href="/img/svg/sprite.min.svg#logo" />
          </svg>
        </a>
      </h1>
      <nav class="p-mv-menu__nav p-mv-nav">
        <ul class="p-mv-nav__list">
          <% for(let page in jsonData.pages){ %>
          <li class="p-mv-nav__item">
            <a href="<%= jsonData.pages[page].slug %>" class="p-mv-nav__link">
              <span class="p-mv-nav__text-en"><%= jsonData.pages[page].name %></span>
              <span class="p-mv-nav__text-ja"><%= jsonData.pages[page].nameJa %></span>
            </a>
          </li>
          <% }; %>
        </ul>
      </nav>
      <div class="p-mv-menu__sns p-sns">
        <ul class="p-sns__list">
          <li class="p-sns__item">
            <a href="" class="p-sns__link" target="_blank" rel="noopener noreferrer">
              <svg class="c-svg p-sns__icon" width="24" height="24">
                <use xlink:href="/img/svg/sprite.min.svg#icon-twitter" />
              </svg>
            </a>
          </li>
          <li class="p-sns__item">
            <a href="" class="p-sns__link"target="_blank" rel="noopener noreferrer">
              <svg class="c-svg p-sns__icon" width="24" height="24">
                <use xlink:href="/img/svg/sprite.min.svg#icon-instagram" />
              </svg>
            </a>
          </li>
          <li class="p-sns__item">
            <a href="" class="p-sns__link"target="_blank" rel="noopener noreferrer">
              <svg class="c-svg p-sns__icon" width="24" height="24">
                <use xlink:href="/img/svg/sprite.min.svg#icon-youtube" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="js-slider" class="p-mv-slider">
      <div class="swiper swiper-mv">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture class="p-mv-slider__picture">
              <source class="p-mv-slider__img" srcset="/img/webp/img-mv01_sp.webp" media="(max-width: 767px)" type="image/webp" />
              <source class="p-mv-slider__img" srcset="/img/webp/img-mv01_pc.webp" media="(min-width: 768px)" type="image/webp" />
              <source class="p-mv-slider__img" srcset="/img/common/img-mv01_sp.jpeg" media="(max-width: 767px)"/>
              <img src="/img/common/img-mv01_pc.jpeg" class="p-mv-slider__img" media="(min-width: 768px)" decoding="async" alt="メインビジュアル">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="p-mv-slider__picture">
              <source class="p-mv-slider__img" srcset="/img/webp/img-mv02_sp.webp" media="(max-width: 767px)" type="image/webp" />
              <source class="p-mv-slider__img" srcset="/img/webp/img-mv02_pc.webp" media="(min-width: 768px)" type="image/webp" />
              <source class="p-mv-slider__img" srcset="/img/common/img-mv02_sp.jpeg" media="(max-width: 767px)" />
              <img src="/img/common/img-mv02_pc.jpeg" class="p-mv-slider__img" media="(min-width: 768px)" decoding="async" alt="メインビジュアル">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="p-mv-slider__picture">
              <source class="p-mv-slider__img" srcset="/img/webp/img-mv03_sp.webp" media="(max-width: 767px)" type="image/webp" />
              <source class="p-mv-slider__img" srcset="/img/webp/img-mv03_pc.webp" media="(min-width: 768px)" type="image/webp" />
              <source class="p-mv-slider__img" srcset="/img/common/img-mv03_sp.jpeg" media="(max-width: 767px)" />
              <img src="/img/common/img-mv03_pc.jpeg" class="p-mv-slider__img" media="(min-width: 768px)" decoding="async" alt="メインビジュアル">
            </picture>
          </div>
        </div>
        <!-- If we need pagination -->
      
      </div>
        <div class="swiper-pagination"></div>
      <p class="p-mv-slider__catch">
        パスタとコーヒーが<br class="u-hidden-md-up">とってもおいしい、<br>ほっと落ち着くのんびり空間。
      </p>
    </div>
  </div>

  <section class="p-home-concept p-concept l-home__concept">
    <div class="p-concept__inner">
      <picture class="p-concept__picture">
        <source class="p-concept__img" srcset="/img/webp/img-concept.webp" type="image/webp" />
        <img src="/img/common/img-concept.jpeg" class="p-concept__img" width="1200" height="1529" decoding="async"
          alt="コンセプトイメージ">
      </picture>
      <div class="p-concept__contents">
        <div class="p-concept__title-wrapper">
          <h2 class="c-section-title">
            <span class="c-section-title__en">CONCEPT</span>
            <span class="c-section-title__ja">当店のこだわり</span>
          </h2>
        </div>
        <div class="p-concept__body">
          <h3 class="p-concept__title">
            最高のコーヒーと、<br>時の流れを味わうことができる<br>手作りカフェ
          </h3>
          <p class="p-concept__text">
            ダミー_国内外から賞賛を
            <br>
            受けた選りすぐりのデザイナーが集結し、ガーデニングの設計・建築から料理まで、あらゆる空間が誕生。
            <br>
            ダミー_国内外から賞賛を受けた選りすぐりのデザイナーが集結し、ガーデニングの設計・建築から料理まで、あらゆる空間が誕生。
            <br>
            <br>
            ダミー_国内外から賞賛を受けた選りすぐりのデザイナーが集結し、ガーデニングの設計・建築から料理まで、あらゆる空間が誕生。
          </p>
          <div class="p-concept__link-wrapper">
            <a href="/concept/" class="c-button-primary">詳しくはこちら</a>            
          </div>
        </div>               
      </div>      
      
    </div>
  </section>

  <section class="p-special-lunch l-home__special-lunch">
    <div class="p-special-lunch__inner">
      <div class="p-special-lunch__title-wrapper">
        <h2 class="c-section-title">
          <span class="c-section-title__en"></span>
          <span class="c-section-title__ja"></span>
        </h2>
      </div>
      <div class="p-special-lunch__contents">

      </div>
    </div>
  </section>
</main>



<%- include('./common/_footer', {pageId:pageId }) %>